<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tomato.mapper.MemberMapper">

    <!-- mybatis.type-aliases-package=com.example.tomato.vo -->
    <!-- CDATA 내용에 있는 SQL 문에 세미콜론 붙이지 말것 -->

    <!-- 주소 관련 테이블이 없어서 임시적으로 주소 컬럼 데이터를 제외한 데이터를 추가 -->
    <insert id="insertMember">
        <![CDATA[
              INSERT INTO MEMBERS (NO, ID, ADDRESS_NO, PASSWORD, NAME, TEL, EMAIL, NICKNAME)
              VALUES (member_no_seq.nextval, #{id}, #{no}, #{password}, #{name}, #{tel}, #{email}, #{nickname})
        ]]>
    </insert>

    <select id="idCheck" parameterType="String" resultType="Integer">
        <![CDATA[
              SELECT COUNT(*) FROM MEMBERS
              WHERE ID = #{id}
        ]]>
    </select>

    <select id="nicknameCheck" parameterType="String" resultType="Integer">
        <![CDATA[
              SELECT COUNT(*) FROM MEMBERS
              WHERE NICKNAME = #{nickname}
        ]]>
    </select>

</mapper>